<section class="subscribe-form">
    <h3 class="subscribe-form-title">Er is ook een nieuwsbrief</h3>
    <p class="subscribe-form-description">In mijn nieuwsbrief deel ik regelmatig (dat is een streven) artikelen van mezelf en voornamelijk van anderen.</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="email@voorbeeld.nl" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Aanmelden</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Wow cool!</strong> Check je email even, want je hebt een bericht waarin ik je vraag om je aanmelding te bevestigen.
        </div>
        <div class="message-error">
            Gebruik even een geldig emailadres.
        </div>
    </form>
</section>