<section class="subscribe-form">
    <h3 class="subscribe-form-title">Er is ook een nieuwsbrief</h3>
    <p class="subscribe-form-description">In mijn nieuwsbrief deel ik regelmatig (dat is een streven) observaties, gedachtes en artikelen van
        mezelf en waarschijnlijk ook van anderen. Ik kan niet uitsluiten dat er ook boeken- en muziektips gedeeld zullen worden :)</p>
    <p class="subscribe-form-description"> Als je je aanmeldt ontvang je meteen 5 boekentips in je inbox.</p>

    <form action="https://www.getrevue.co/profile/BartN/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
        <div class="form-group">
            <input class="subscribe-email" name="member[email]" placeholder="email@voorbeeld.nl" autocomplete="false" />
            <button class="button primary button_subscribe" type="submit" name="member[subscribe]"> <span
                    class="button-content">Aanmelden</span>
            </button>
        </div>
        <div class="message-success">
                        <strong>Wow cool!</strong> Er is een nieuwe scherm geopend waarin Revue (de nieuwsbrievendienst) je uitleg geeft. <br>Dank je!
                    </div>
    </form>
</section>
